<!DOCTYPE html>
<html lang="pt">
<head>
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>    
        
    <link rel="stylesheet" href="{{url_for('static', filename='perfil.css')}}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link
        rel="preload"
        as="image"
        href="{{ url_for('static', filename='imagem/bg_perfil.webp') }}">
    <title> Perfil Nutriplanner </title>

</head>
<body>
<div class="bg-home" >
    <form id="form-perfil" action="{{url_for('perfil')}}" method="POST">
        <header >
            
            <nav class="header-content">
            <div class="title">
                <h1> Perfil {{ name }}</h1>
            </div>
            </nav>
        </header>
        <div class="container">
            <a href="{{ url_for('menu') }}" class="logo_perfil">
                <img
                    src="{{ url_for('static', filename='imagem/menu_logo.png') }}"
                    alt="perfil_logo"
                    class="perfil_img"/>
            </a>

            <div class="container-grid"  >
                <label for="name" class="name base_words "> Nome e Sobrenome </label>
                <input id= "name" name="name" class="box-name box" type="text" value="{{ perfil.name or '' }}" required>

                <label for="gmail" class="gmail base_words"> Email </label>
                <div class="email_line">
                     <p class="email_value">{{ gmail }}</p>
                    <a href="{{ url_for('change_login') }}">Alterar Email </a>
                </div>
        

                <label for="birthday" class="birthday base_words"> Aniversario </label>
                <input id= "birthday" name="birthday" class="box-birthday box" type="date" value="{{ perfil.birthday or '' }}" required>

                <div class="bloco_medidas">
                    <label for="height" class="height base_words"> Altura </label>
                    <input id= "height" name="height" class="box-height box" type="number" step="1" min="120" value="{{ perfil.height or '' }}" required>
        
                    <label for="weight" class="weight base_words"> Peso </label>
                    <input id= "weight" name="weight" class="box-weight box" type="number" step="0.01" min="40" value="{{ perfil.weight or '' }}" required>
                </div>
        
        
                <label for="gender" class="gender base_words"> Sexo </label>
                    <select id="gender" name="gender" class="input-base box-gender" required>
                    <option value="" disabled selected> Escolha....</option>
                    <option value="F" {% if perfil.gender == "F" %}selected{% endif %} >Mulher</option>
                    <option value="M" {% if perfil.gender == "M" %}selected{% endif %}>Homem</option>
                    </select> 

                <label for="goal" class="goal base_words"> Objetivo </label>
                    <select id= "goal" name="goal" class="input-base box-goal" required>
                        <option value="" disabled selected> Escolha....</option>
                        <option value="1" {% if perfil.goal_id == 1 %}selected{% endif %}>Perder Peso</option>
                        <option value="2" {% if perfil.goal_id == 2 %}selected{% endif %}>Ganhar Musculo/Peso</option>
                        <option value="3" {% if perfil.goal_id == 3 %}selected{% endif %}>Manter Peso</option>
                    </select> 

                <label for="goal_pace" class="goal_pace base_words"> Velocidade do objetivo </label>
                    <select id= "goal_pace" name="goal_pace" class="input-base box-goal_pace" required>
                    <option value="" disabled selected> Escolha....</option> 0.3kg/semana , b- 0.5kg/semana, c- 0.75kg/semana, d- , e- 0.0kg/semana",
                    <option value="1" {% if perfil.goal_pace_id == 1 %}selected{% endif %}>0.3kg/semana</option>
                    <option value="2" {% if perfil.goal_pace_id == 2 %}selected{% endif %}>0.5kg/semana</option>
                    <option value="3" {% if perfil.goal_pace_id == 3 %}selected{% endif %}>0.75kg/semana</option>
                    <option value="4" {% if perfil.goal_pace_id == 4 %}selected{% endif %}>1.0kg/semana</option>
                    <option value="5" {% if perfil.goal_pace_id == 5 %}selected{% endif %}>0.0kg/semana</option>
                    </select> 

                <label for="exercise" class="exercise base_words"> Nivel de exercicio </label>  
                    <select id= "exercise" name="exercise" class="input-base box-exercise" required>
                        <option value="" disabled selected> Escolha....</option>
                        <option value="1" {% if perfil.exercise_id == 1 %}selected{% endif %}>Sedentário</option>
                        <option value="2" {% if perfil.exercise_id == 2 %}selected{% endif %}>Leve</option>
                        <option value="3" {% if perfil.exercise_id == 3 %}selected{% endif %}>Moderado</option>
                        <option value="4" {% if perfil.exercise_id == 4 %}selected{% endif %}>Muito Ativo</option>
                        <option value="5" {% if perfil.exercise_id == 5 %}selected{% endif %}>Extremamente Ativo</option>
                    </select> 

                <label for="principal_meal" class="principal_meal base_words"> Refeicao Principal </label>
                    <select id= "principal_meal" name="principal_meal" class="input-base box-principal_meal"  required>
                    <option value="" disabled selected> Escolha....</option>
                    <option value="1" {% if perfil.principal_meal_id == 1 %}selected{% endif %}> Café da Manha </option>
                    <option value="2" {% if perfil.principal_meal_id == 2 %}selected{% endif %}> Lanche da Manha </option>
                    <option value="3" {% if perfil.principal_meal_id == 3 %}selected{% endif %}> Almoco </option>
                    <option value="4" {% if perfil.principal_meal_id == 4 %}selected{% endif %}>Lanche da Tarde </option>
                    <option value="5" {% if perfil.principal_meal_id == 5 %}selected{% endif %}> Janta </option>
                    <option value="6" {% if perfil.principal_meal_id == 6 %}selected{% endif %}> Sem refeicao </option>
                    </select> 

                <label for="eats_sweet" class="eats_sweet base_words"> Come doce todo dia</label>
                    <div class="checkbox-duplo box-eats_sweet">
                    <label>Sim<input type="radio"  id="eats_sweet" name="eats_sweet" value="yes" required {% if perfil.eats_sweet_daily == 'yes'%}checked{% endif %}></label>
                    <label>Nao<input type="radio" name="eats_sweet" value="no"{% if perfil.eats_sweet_daily == 'no' %}checked{% endif %}></label>
                    </div>

                <label for="vegetable" class="vegetable base_words"> Quantas gramas de vegetais por refeicao</label>
                <input id= "vegetable" name="vegetable" class="box-vegetable box" type="number" value="{{ perfil.vegetable or '' }}">

                <label for="legumes" class="legumes base_words"> Quantas gramas de legumes por refeicao</label>
                <input id= "legumes" name="legumes" class="box-legumes box" type="number" value="{{ perfil.legumes or '' }}">

                <label for="meals" class="meals base_words"> Refeicoes consumidas </label>
                    <div class ="box-meals checkbox-duplo base_words">
                        <label class="meal_option"> <input type="checkbox" name="meals" value="1" {% if '1' in perfil.meals %}checked{% endif %}> Cafe da Manha </label>
                        <label class="meal_option"> <input type="checkbox" name="meals" value="2" {% if '2' in perfil.meals  %}checked{% endif %}> Lanche da Manha </label>
                        <label class="meal_option"> <input type="checkbox" name="meals" value="3" {% if '3' in perfil.meals  %}checked{% endif %}> Almoco </label>
                        <label class="meal_option"> <input type="checkbox" name="meals" value="4" {% if '4' in perfil.meals  %}checked{% endif %}> Lanche da Tarde </label>
                        <label class="meal_option"> <input type="checkbox" name="meals" value="5" {% if '5' in perfil.meals  %}checked{% endif %}> Jantar </label>
                    </div> 
        

                <button id="bottomsave" type="submit" class="bottom-save">
                    {% if saved %}
                        Salvo
                    {%else%}
                        Salvar
                    {% endif %}
                </button>        
            </div> 

            <div class="logo">
                <img
                    src="{{ url_for('static', filename='imagem/logo_semfundo.png') }}"
                    alt="logo"
                    class="logo_img"
                    />
            </div>
        </div>
    </form>
</div> 
    {% if login_error %}
    <p>Usuario nao encontrado ou senha incorreta.</p>
    {% endif %}

    
    <script>

        document.addEventListener("DOMContentLoaded", function() {
            const form = document.querySelector("form")
            const bottomsave= document.getElementById("bottomsave")
            const manager = document.getElementById("bottom-manager")
            const planner = document.getElementById("bottom-planner")
            const logout = document.getElementById("bottom_logout")

            manager.addEventListener("click", function(){
                window.location.href = "{{ url_for('manager_meals') }}";});

            planner.addEventListener("click", function(){
                window.location.href = "{{ url_for('planner_meals') }}";});

            logout.addEventListener("click", function(){
                window.location.href = "{{ url_for('logout') }}";});

            if (!form || !bottomsave) return;

            const fields = form.querySelectorAll("input, select, textearea");

            fields.forEach(field=> {
                field.addEventListener("input", function(){
                    bottomsave.textContent = "Salvar";
                });
                field.addEventListener("change", function () {
                buttonsave.textContent = "Salvar";
            });
            });
            });
    
    </script>

</body>
</html>
